@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

.rectangle {
    counter-reset: li;
    list-style: none;
    font: 14px "Trebuchet MS", "Lucida Sans";
    padding: 0;
    text-shadow: 0 1px 0 rgba(255,255,255,.5);
}
.rectangle a {
    position: relative;
    display: block;
    padding: .4em .4em .4em .8em;
    margin: .5em 0 .5em 2.5em;
    background: #D3D4DA;
    color: #444;
    text-decoration: none;
    transition: all .3s ease-out;
}
.rectangle a:hover {background: #DCDDE1;}
.rectangle a:before {
    content: counter(li);
    counter-increment: li;
    position: absolute;
    left: -2.5em;
    top: 50%;
    margin-top: -1em;
    background: #9097A2;
    height: 2em;
    width: 2em;
    line-height: 2em;
    text-align: center;
    font-weight: bold;
}
.rectangle a:after {
    position: absolute;
    content: "";
    border: .5em solid transparent;
    left: -1em;
    top: 50%;
    margin-top: -.5em;
    transition: all .3s ease-out;
}
.rectangle a:hover:after {
    left: -.5em;
    border-left-color: #9097A2;
}




* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    background: #E0E7F3;
    line-height: 1;
    color: #231E20;
}

a {
    text-decoration: none;
    color: #393939;
}

.container {
    padding: 10px 20px;
}

h1 {
    font-weight: 300;
    font-size: 20px;
    text-transform: uppercase;
    padding-bottom: 3px;
}
.studentInfo {
    padding-top: 15px;
}
.reportHead {
    text-align: center;
    background-color: #D7DEEA;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    padding: 10px;
    margin-bottom: 7px;
}

.labStateComplete {
    background-color: #32FF91;
}

.labStateUncompleted  {
    background-color: #FF362F;
}

.bottomPlate{
    text-align: center;
    background-color: #D7DEEA;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    padding-top: 0;
    margin: auto;
    width:100%;
    height: 28px;
}